<div ng-init="inicio()" class="container">
   <!--start container-->
      <div class="container">
            <div class="titulos">
                <a href="#/" class="icon-arrow-left"></a>
                <h1>Seguimiento de Oportunidades</h1>
            </div>

            <form class="col s12">
              <div class="row">
                <div class="input-field col s6">
                   <input type="date" class="datepicker">
                    <label for="last_name">Fecha Inicio A.O</label>
                </div>
                <div class="input-field col s6">
                   <input type="date" class="datepicker">
                   <label for="last_name">Fecha Fin A.O</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s4">
                  <select>
                    <option value="" selected>Cliente</option>
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                    <option value="3">Option 3</option>
                  </select>
                </div>

                <div class="input-field col s8">
                  <select>
                    <option value="" selected>Unidad</option>
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                    <option value="3">Option 3</option>
                  </select>
                </div>
              </div>
              <div class="row">
                  <div class="input-field col s8">
                    <input id="last_name" type="text" class="validate">
                    <label for="last_name">Lesionado</label>
                  </div>
              </div>
              <div class="row">
                <div class="input-field col s4">
                  <div class="switch">
                    <label>
                      ¿Se Notifica?
                      <input type="checkbox">
                      <span class="lever"></span>
                    
                    </label>
                  </div>
                </div>
                <div class="input-field col s4">
                  <select>
                    <option value="" selected>Estatus</option>
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                    <option value="3">Option 3</option>
                  </select>
                </div>
              </div>

            </form>   
    <div class="row">

          <table class="responsive-table" >
              <thead>
                <tr>
                    <th>Status</th>
                    <th>Cliente</th>
                    <th>Unida</th>
                    <th>Folio MV</th>
                    <th>Lesionado</th>
                    <th>Fecha A.O</th>
                    <th>Medio</th>
                    <th>Grado</th>
                    <th>Tipo</th>
                    <th>RS</th>
                    <th>Folio A.O</th>
                    <th>Se Notifica</th>
                </tr>
              </thead>

<!--               <tbody>
                <tr>
                    <td>Abierta</td>
                    <td>AXA</td>
                    <td>MV PERISUR</td>
                    <td>PEMV042411</td>
                    <td>HECTOOR ZUÑIGA</td>
                    <td>02/05/2017</td>
                    <td>CORREO</td>
                    <td>7</td>
                    <td>ADMINISTRATIVO</td>
                    <td>REAL</td>
                    <td>AXAO1701001</td>
                    <td>SI</td>
                </tr>
              </tbody>
 -->            </table>

    </div>  
      <div class="fixed-action-btn">
         <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">+</i></a>

      </div>
                     


                    

                    <!-- Floating Action Button -->

      </div>

</div><br><br><br><br><br><br><br><br><br>
<script type="text/javascript">


</script>