<div ng-init="inicio()" class="container">
   <!--start container-->
      <div class="container">
            <div class="titulos">
                <a href="#/" class="icon-arrow-left"></a>
                <h1>Seguimiento de Oportunidades</h1>
            </div>

            <form class="col s12">
              <div class="row">
                <div class="input-field col s6">
                    <label for="last_name">Folio A.O <strong>QSA01701004</strong></label>
                    
                </div>
                <div class="input-field col s6">

                  <button class="btn waves-effect waves-light" type="submit" name="action">Cerrar Area O.
                    <i class="material-icons right"></i>
                  </button>

                </div>
              </div>
             

            </form><br><br><br>   
    <div class="row">

          <table class="responsive-table" >
              <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Usuario</th>
                    <th>Tipo</th>
                    <th>Nota</th>

                </tr>
              </thead>

<!--               <tbody>
                <tr>
                    <td>Abierta</td>
                    <td>AXA</td>
                    <td>MV PERISUR</td>
                    <td>PEMV042411</td>
                    <td>HECTOOR ZUÑIGA</td>
                    <td>02/05/2017</td>
                    <td>CORREO</td>
                    <td>7</td>
                    <td>ADMINISTRATIVO</td>
                    <td>REAL</td>
                    <td>AXAO1701001</td>
                    <td>SI</td>
                </tr>
              </tbody>
 -->            </table>

    </div>  
      <div class="fixed-action-btn">
         <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">+</i></a>

      </div>
                     


                    

                    <!-- Floating Action Button -->

      </div>

</div><br><br><br><br><br><br><br><br><br>
<script type="text/javascript">


</script>